<div class="loading-big-chat"> <div class="loading-indicator" *ngIf="!chat || !usuarioHost">
  <div class="spinner-border text-success cargador" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>
<!-- VISTA CLIENTES -->
<div class="big-chat" *ngIf="chat && usuarioHost && usuarioHost.user_rol.rol_name==='user'">
  <div class="row">
    <div class="col-12 bg-light p-3 border-bottom">
      <div class="d-flex align-items-center">
        <img src="foto" class="rounded-circle mr-3" alt="usuario">
        <h5 class="mb-0">{{chat.chat_user_admin.username}}</h5>
        <button class="btn btn-sm btn-primary ml-auto" (click)="toogleForm()" *ngIf="chat.status_id===1">Formulario</button>
      </div>
      <h6 class="mt-3 mb-0">{{chat.chat_form_type.form_name}}</h6>
    </div>

    <div class="col-12 chat-history overflow-auto" id="chatHistory">
      <div class="d-flex mb-3">
        <img src="foto" class="rounded-circle mr-2" alt="foto">
        <div class="flex-grow-1">
          <p class="mb-0">Enviador</p>
          <app-chat-message *ngFor="let mensaje of mensajes" [message]="mensaje.content" [isHost]="mensaje.user_id === usuarioHost.user_id"></app-chat-message>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex mt-3">
      <input type="text" class="form-control flex-grow-1" placeholder="Escribe tu mensaje" [(ngModel)]="nuevoMensaje">
      <button class="btn btn-primary" (click)="guardarMensaje()">Enviar</button>
    </div>
  </div>
</div>

<!-- VISTA ADMIN -->
<div class="big-chat" *ngIf="chat && usuarioHost && usuarioHost.user_rol.rol_name==='admin'">
  <div class="row">
    <div class="col-12 bg-light p-3 border-bottom">
      <div class="d-flex align-items-center">
        <img src="foto" class="rounded-circle mr-3" alt="usuario">
        <h5 class="mb-0">{{chat.chat_user_client.username}}</h5>
        <button class="btn btn-primary btn-sm" (click)="changeStatus()">Cambiar estado</button>
      </div>
      <h6 class="mt-3 mb-0">{{chat.chat_form_type.form_name}}</h6>
    </div>

    <div class="col-12 chat-history overflow-auto" id="chatHistory">
      <div class="d-flex mb-3">
        <img src="foto" class="rounded-circle mr-2" alt="foto">
        <div class="flex-grow-1">
          <p class="mb-0">Enviador</p>
          <app-chat-message *ngFor="let mensaje of mensajes" [message]="mensaje.content" [isHost]="mensaje.user_id === usuarioHost.user_id"></app-chat-message>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex mt-3">
      <input type="text" class="form-control flex-grow-1" placeholder="Escribe tu mensaje" [(ngModel)]="nuevoMensaje">
      <button class="btn btn-primary" (click)="guardarMensaje()">Enviar</button>
    </div>
  </div>
</div>
