<div *ngIf="!user">Cargando...</div>
<div class="sidebar">
  <div class="sidebar-header">
    <img src="../../../assets/logoTDP.png" alt="Logo" class="img-fluid">
  </div>

  <div class="sidebar-user-search">
    <div class="user-info" *ngIf="user">
      <img src="../../../assets/profilePicture.webp" alt="Foto de perfil" class="rounded-circle">
      <div>
        <h3 class="mb-0">{{user!.username}}</h3>
        <h6>{{user.user_rol.rol_name | roleName}}</h6>
        <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
        <button class="btn btn-success" (click)="registerUser()" *ngIf="user.user_rol.rol_name==='admin'">Registrar user</button>
        <button class="btn btn-success" *ngIf="user.user_rol.rol_name==='admin'">Nuevo chat</button>
      </div>
    </div>

    <div class="search-bar">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="🔍︎ Buscar conversación">
    </div>
  </div>

  <div class="chat-list" *ngIf="user && chats.length>0">
      <app-mini-chat *ngFor="let chat of chats | filter:search " [tipoUsuario]="user.user_rol.rol_name" [chat]="chat" (selectChat)="onChatSelect($event)"></app-mini-chat>
  </div>
</div>
