.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 18vw;
  background-color: #f8f9fa;
  transition: width 0.3s ease;
  overflow-y: auto;
  z-index: 1000; /* Para que esté por encima de otros elementos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para agregar profundidad */

}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  text-align: center;
  padding: 10px;
}

.sidebar-header img {
  max-height: 50px;
  max-width: 100%;
}

.sidebar-user-search {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.user-info h3 {
  margin: 0;
  font-size: 20px;
}

.user-info h6 {
  color: #6c757d; /* Color de texto secundario */
}

.btn {
  margin: 5px; /* Espacio entre los botones */
  font-size: 12px;
  border-radius: 10px; /* Bordes redondeados */
  width:auto;
}

#danger{
  background-color: rgb(228, 83, 83);
  border: none;
}

#register{
  background-color: #688F74;
  border:none;
}

#new-chat{
  background-color: #6f99a9;
  border:none;
}

#danger:hover{
  background-color: #606060;
  opacity: 60%;
  border-radius: 10px;
}
#register:hover{
  background-color: #606060;
  opacity: 60%;
  border-radius: 10px;
}
#new-chat:hover{
  background-color: #606060;
  opacity: 60%;
  border-radius: 10px;
}

.user-info .badge {
  margin-left: 5px;
  font-size: 12px;
}

.search-bar {
  margin-top: 10px;
  max-width: 15vw;

}

.search-bar input {
  padding: 5px;
  border: 1px solid #ced4da; /* Borde para la entrada */
  border-radius: 15px; /* Bordes redondeados */
  width: 100%;
}

.search-bar .fas {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.chat-list {
  padding: 10px;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.chat-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.chat-item .chat-info {
  flex: 1;
}

.chat-item .chat-info h4 {
  margin: 0;
  font-size: 14px;
}

.chat-item .chat-info p {
  margin: 0;
  font-size: 12px;
  color: #999;
}

.chat-item .chat-info span {
  font-size: 10px;
  color: #999;
}


/* Style the scrollbar container */
.sidebar::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: auto; /* Height of the scrollbar */
}

/* Style the scrollbar track */
.sidebar::-webkit-scrollbar-track {
  background-color: #F0F0F0; /* Background color of the track */
  border-radius: 10px; /* Border radius of the track */
}

/* Style the scrollbar thumb */
.sidebar::-webkit-scrollbar-thumb {
  background-color: #808080; /* Background color of the thumb */
  border-radius: 10px; /* Border radius of the thumb */
}

/* Style the thumb hover state */
.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #606060; /* Background color of the thumb on hover */
}

/*Add user dialog*/

/* Customize Sweet Alert 2 appearance as desired */
.swal2-container {
  background-color: rgba(0, 0, 0, 0.4);
}

.swal2-popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  max-width: 90%;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  /* Estilos adicionales para pantallas de escritorio medianas */
  .sidebar {
    width: 30vw; /* Ajustar ancho según su diseño */
  }
}

@media only screen and (max-width: 1024px) {
  /* Estilos adicionales para tablets y dispositivos más pequeños */
  .sidebar {
    width: 26vw; /* Ajustar ancho según su diseño */
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 40vw; /* Ajustar ancho según su diseño */
  }

}

@media (max-width: 576px) {
  .sidebar {
    max-width: 100%;
  }
}
