<div *ngIf="!user">Cargando...</div>
<div class="sidebar">
  <div class="sidebar-header">
    <img src="./assets/logoTDP.png" alt="Logo" class="img-fluid">
  </div>

  <div class="sidebar-user-search">
    <div class="user-info" *ngIf="user">
      <img src="./assets/profilePicture.png" alt="Foto de perfil" class="rounded-circle">
      <div>
        <h3 class="mb-0">{{user!.username}}</h3>
        <h6>{{user.user_rol.rol_name | roleName}}</h6>
        <button class="btn btn-danger" id="danger" (click)="logout()"><i class="fa-solid fa-right-from-bracket" title="Cerrar Sesión"></i></button>
        <button class="btn btn-success" id="register" (click)="registerUser()" *ngIf="user.user_rol.rol_name==='admin'"><i class="fa-solid fa-user-plus" title="Registrar Usuario"></i></button>
        <button class="btn btn-success" id="new-chat" (click)="createChat()" *ngIf="user.user_rol.rol_name==='admin'"><i class="fa-solid fa-comment-medical" title="Nuevo Chat"></i></button>
        <button class="btn btn-success" id="sets" (click)="changePassword()"><i class="fa-solid fa-gear" title="Ajustes"></i></button>
      </div>
    </div>

    <div class="search-bar">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="🔍︎ Buscar">
    </div>
  </div>

  <div class="chat-list" *ngIf="user && chats.length>0">
      <app-mini-chat *ngFor="let chat of chats | filter:search " [tipoUsuario]="user.user_rol.rol_name" [chat]="chat" (selectChat)="onChatSelect($event)"></app-mini-chat>
  </div>
</div>
