<div class="container-fluid"> <div class="row no-gutters">  <div class="col-md-4">
  <app-sidebar [user]="user" *ngIf="user"
  (chatSelected)="onChatSelected($event)" [socket]="socket"></app-sidebar>
</div>
<div class="col-md-8"> <div class="loading-indicator" *ngIf="!user && !selectedChat">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<ng-container *ngIf="!socket">
  <p>No hay socket</p>
  </ng-container>
<ng-container *ngIf="socket">
  <div class="no-chat-selected" *ngIf="!selectedChat">
    <h2>Select a Chat</h2>
    <p>Choose a chat from the sidebar to start a conversation.</p>
    <i class="fa-solid fa-comments fa-3x text-muted"></i>

    <ul>
      <li>Look for a chat in the sidebar.</li>
      <li>Start a new chat if one doesn't already exist.</li>
    </ul>
  </div>
<app-big-chat [chat]="selectedChat" [usuarioHost]="user" *ngIf="selectedChat" [socket]="socket"></app-big-chat>
</ng-container>



